{% extends 'user/base.html' %}
{% load i18n %}

{% block body %}
  <h2>
    {% blocktrans %}
      Account Activation
    {% endblocktrans %}
  </h2>
  <p>{% blocktrans %}
    Hello {{ user }}. Your email has been used to sign up for an account at {{ site_url }}. If this email has reached
    you in error please disregard. Otherwise, please click here: {% endblocktrans %}
    <a href="{{ activation_url }}">{{ activation_url }}</a> {% trans "to activate your account." %}
  </p>
  <div>
    {% trans "Thanks" %},
  </div>
  <div>
    {% blocktrans %}
      The team at {{ site_name }}
    {% endblocktrans %}
  </div>
{% endblock %}
