{% extends 'users/base.html' %}
{% load i18n %}

{% block body %}
  <h2>
    {% trans "Reset Username" %}
  </h2>
  <p>
    {% blocktrans %}You're receiving this email because you requested a username reset for your user account at {{ site_name }}.{% endblocktrans %}
  </p>
  <p>
    {% trans "Please go to the following page and choose a new username:" %}
    <a href="{{ reset_url }}">{{ reset_url }}</a>
  </p>
  <p>
    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
  </p>
  <div>
    {% trans "Thanks" %},
  </div>
  <div>
    {% blocktrans %}
      The team at {{ site_name }}
    {% endblocktrans %}
  </div>
{% endblock %}